.container__body{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container__body__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: min-content 1fr;
        column-gap: 0.1em;
        row-gap: 1.5em;
        width: 80%;

        .card{
            width: 16rem;
            

                .cardBody{
                padding: 0px;
       
                


                .cardBody-title{
                    padding: 1rem 1rem 0rem 1rem ;
                }

                .cardBody-text{
             
                    padding: 1rem 1rem 0rem 1rem ;
                    min-height: 110px;
                }

                


                        .edit_button{
                            text-decoration: none;
                        }
                        .delete_button{
                            text-decoration: none;
                        }
                    }
                
         

       
            }

       

       
        }

    .container__body__form{
        width: 30%;
        
    }

    .container__body__form{

        .form{
        
        
        border: 1px solid #E3E3E3;
        border-radius: 5px;

        .form_inputs{
            padding: 1.2rem;

            
        }

        .button_box{
            background-color: #F8F8F8;
            width: 100%;
            padding: 1rem 0 1rem 1.2rem;

            .button-success{
                margin-right: 8px;
            }
        }
    }
    }
}